<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
    <div class="header-container d-flex justify-content-between p-3 bg-dark text-white">
        <div class="logo d-flex align-items-center">
            <img src="~/Images/logo.jpg" alt="Logo" class="header-img rounded-circle border border-primary" />
        </div>
        <nav class="ml-auto">
            <ul class="nav-links list-unstyled d-flex gap-3 m-0 p-3">
                <li><a href="/" class="text-white text-decoration-none">Home</a></li>
                @if(ViewBag.Melder != null)
                {
                    <li><a href="/login/profil?id=@ViewBag.MelderId">@ViewBag.Melder</a></li>
                <li><a href="/home/logout" class="text-white text-decoration-none">Logout</a></li>
                @if(ViewBag.IsAdmin)
                {
                <li><a href="/admin/admin" class="text-white text-decoration-none">Admin</a></li>
                }
                }
                else
                {
                <li><a href="/home/login" class="text-white text-decoration-none">Login</a></li>
                <li><a href="/home/register" class="text-white text-decoration-none">Register</a></li>
                }
            </ul>
        </nav>
    </div>
</header>
<div class="container my-4">
    @RenderBody()
</div>
<div id="btn_oben" class="btn_oben">
    <a href="javascript:void(0);" onclick="window.scrollTo(0,0);" class="btn btn-secondary rounded-pill">⬆️</a>
</div>
<footer class="footer mt-auto py-3 bg-dark text-white text-center">
    <div class="container">
        <p>&copy; 2024 - WebApp Vorlage 1</p>
    </div>
</footer>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
