@model WebApp.Models.ModelClasses.Melder

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Profil</h2>
<p>@Model.Benutzername</p>
<p>@Model.Name</p>
<p>@Model.Email</p>
<a href="/login/uploadsichtung">uplaod</a>



