@model WebApp.Models.ModelClasses.DTOLoginMelder
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h2>Login</h2>
    <form asp-action="Login" method="post" >
        <label asp-for="Login" class="form-label">Email oder Benutzername</label>
        <input asp-for="Login" class="form-control" />
        <span asp-validation-for="Login" class="text-danger"></span>
        <label asp-for="Kennwort"></label>
        <input asp-for="Kennwort" type="password" class="form-control" />
        <span asp-validation-for="Kennwort" class="text-danger"></span>
        <input type="submit" value="Login" class="btn btn-primary" />
    </form>

    </div>
</body>
</html>